body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-txt{
    text-align: center;
}

#title{
    text-align: center;
    color: red;
    font-family: font, sans-serif;
}

p {
    color: red;
    font-family: font, sans-serif;
    text-align: center;
}

.button-create{
    height: 50px;
    width: auto;
    font-size: 25px;
    display: block;
    margin: 30px auto 50px;
    font-family: font, sans-serif;
    background-color: red;
    color: black;
}

.button-create:hover{
    border: solid 3px white;
}

#img-bt{
    visibility: hidden;
}

@font-face {
    font-family: font;
    src: url("font/subtitle-font.otf");
}