body{
    margin: 0;
    padding: 0;
}

.topbar{
    background-color: black;
    color: red;
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif;
}

#picture{
    width: 150px;
    height: auto;
}

#logo{
    max-width: 150px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation ul li {
    display: inline-block;
    min-width: 200px;
    padding: 24px 10px 18px;
    text-align: center;
}

.navigation ul li a{
    text-decoration: none;
    color: red;
    font-size: 20px;
}

.navigation ul li a:hover{
    font-family: tag, sans-serif;
    font-size: 17px;
}

.navigation ul li a:active{
    color: white;
}

@font-face {
    font-family: tag;
    src: url("font/fuente.otf");
}