body{
    background-color: black;
    color: white;
}

#title{
    font-family: font, sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 50px;
}

body{
    background-color: black;
    color: red;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: font, sans-serif;
}

.reg-container{
    width: 100%;
}

.hello{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.hello{
    text-align: center;
}

@font-face {
    font-family: font;
    src: url("fontheader.otf");
}

.form{
    width: 100%;
    height: 320px;
    text-align: center;
}

.form h4{
    font-family: font, sans-serif;
    font-size: 30px;
    margin: 20px;
}

#name{
    background-color: #332f2c;
    width: 400px;
    color: white;
    margin: 40px;
}

#userButton{
    height: 35px;
    width: auto;
    font-size: 15px;
    margin: 30px;
    font-family: font, sans-serif;
    background-color: red;
    color: black;
}

#userButton:hover{
    border: solid 2px white;
}

@font-face {
    font-family: font;
    src: url("subtitle-font.otf");
}