<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>

    {{>header}}
    <div class="main-container">
        <div id="title">
            <h1>¿QUIÉNES SOMOS?</h1>
        </div>
        <div id="main-txt">
            <p>Event TKS es una empresa que surgió debido a nuestra afición a la música. No hay nada que nos guste más que disfrutar de un buen concierto. Por ello tuvimos la idea de crear una web en la que se pudiesen comprar entradas para los mejores conciertos al mejor precio.</p>
        </div>
    </div>
    <div id="mini-title">
        <h2>DESARROLLADORES</h2>
    </div>
    <div class="developer">
        <div class="name">
            <p>MST</p>
        </div>
        <div class="description">
            <p>El primero de los desarrolladores es Miguel Muñoz, más conocido como MST. Le gusta pasar el tiempo escuchando música. Sin duda es un chaval trabajador y aplicado.</p>
        </div>
    </div>
    <div class="developer">
        <div class="name">
            <p>ISMA</p>
        </div>
        <div class="description">
            <p>El segundo de los desarrolladores es Ismael Van Den Broeck. Le gusta pasar el tiempo jugando al fútbol y patinando. Siempre está dispuesto a ofrecer ayuda sin esperar nada a cambio.</p>
        </div>
    </div>
    <div class="developer">
        <div class="name">
            <p>DIEGO</p>
        </div>
        <div class="description">
            <p>El tercero de los desarrolladores es Diego Martí. Le gusta pasar el tiempo con amigos o disfrutando de una buena serie. Es un chico educado y capaz de hacer sentir mejor a los demás.</p>
        </div>
    </div>
    {{>footer}}
</body>
</html>