<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/createEvent.css">
</head>
<body>


<h1 id="title">Create a new event</h1>
<form action="/events/new" method="post" enctype="multipart/form-data">

    <div id="main-txt">
    <p>Name: </p>

    <input type="text"  name="name"><br>

    <p>Description: </p>
    <textarea name="description"></textarea><br>

    <p>Artists</p>
    <input type="text" name="artists"><br>

    <p>Price of the entrance: </p>
    <input type="number" name="price" step="0.1"><br>

    <p>Tickets aviables: </p>
    <input type="number" name="ticketsAvailable"><br>
    <p>Image file:</p>
    <input type='file' name='imageField' accept=".jpg, .jpeg"/>

    <input type="submit" value="Create event"/>
    </div>

</form>
</body>
</html>