<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/createEvent.css">
</head>
<body>
<h1 id="title">Crea un nuevo evento</h1>
<form action="/events/new" method="post" enctype="multipart/form-data">

    <div id="main-txt">
    <p>Nombre: </p>

    <input type="text"  name="name"><br>

    <p>Descripción: </p>
    <textarea name="description"></textarea><br>

    <p>Artistas:</p>
    <input type="text" name="artists"><br>

    <p>Precio de la entrada: </p>
    <input type="number" id="Price" name="price" step="0.1"><br>

    <p>Entradas disponibles: </p>
    <input type="number" id="Tickets" name="ticketsAvailable"><br>
    <p>Imagen:</p>
    <label for="img-bt" class="button-create">Selecciona una imagen</label>
    <input id="img-bt" type='file' name='imageField' accept=".jpg, .jpeg" value="Selecciona una imagen"/>
    <br>
    <input class="button-create" type="submit" value="Crear" placeholder="Crear el evento"/>
    </div>
</form>

</body>
</html>