<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/events.css">
</head>
<body>
{{>header}}
    <h1 id="events-title">Próximos Eventos</h1>

    <div class="container">
        {{#events}}
        <a id="border" href="/events/{{id}}">
            <div class="event">
                <h4>{{name}}</h4>
                <img alt="no image" src="/{{id}}/image">
            </div>
        </a>
        {{/events}}
    </div>
    {{^events}}
    <p id="no-events">Todavía no hay eventos.</p>
    {{/events}}

<button id="button" onclick="location.href='/events/new'">Nuevo evento</button>
{{>footer}}
</body>
</html>