<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventks</title>
    <link rel="stylesheet" href="/eventTemplate.css">
</head>
<body>
{{>header}}
<div class="container">
    <div class="image">
        {{#event.image}}
        <div class="img">
            <img id="img-tmp" alt="no image" class="img-thumbnail" src="/events/{{event.id}}/image">
        </div>
        {{/event.image}}
    </div>
    <div class="details">
        <h2 id="title">{{event.name}}</h2>
        <hr class="line">
        <p class="normal-txt">{{event.description}}</p>
        <p class="normal-txt">Precio: <span class="red-text">{{event.price}}</span></p>
        <p class="normal-txt">Los artistas son: <span class="red-text">{{event.artists}}</span></p>
        <p class="normal-txt">Tickets disponibles: <span class="red-text">{{event.ticketsAvailable}}</span></p>
        <div class="buttons">
            <button class="Tmpl-button" onclick="location.href='/events/{{event.id}}/edit'">Editar</button>
            <button class="Tmpl-button" onclick="location.href='/events/{{event.id}}/delete'">Eliminar</button>

            <button class="Tmpl-button" onclick="location.href='/buy/{{event.id}}'" >Comprar</button>


        </div>
    </div>
</div>

<div class="addComment">
    <h3>Añadir comentario</h3>
    <form action="/events/{{event.id}}/comments" method="post">

        <input id="username" class="input" type="text" name="username" placeholder="Nombre de usuario"><br>
        <textarea class="input" name="content" placeholder="Contenido del comentario"></textarea><br>
        <input class="input" type="number" name="valoration" ><br>
        <input type="hidden" name="id" value="{{event.id}}">
        <input id="commentButton" type="submit" value="Subir comentario">
    </form>
</div>


<div class="comments">
    <h3>Comentarios</h3>
    <div class="submitted-com">
        {{#event.comments}}
        <hr>
        <ul>
            <li class="imp">Usuario:</li>
            <li>{{this.username}}</li>
            <li class="imp">Contenido:</li>
            <li>{{this.content}}</li>
            <li class="imp">Valoración:</li>
            <li>{{this.valoration}}</li>
            <li><button  onclick="location.href='/events/{{event.id}}/delete/{{this.id}}'"> Eliminalo</button></li>
        </ul>
        {{/event.comments}}
    </div>
</div>




</body>
</html>
