<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
<footer>
    <div class="footer">
        <div class="container">
            <div class="links">
                <a href="#"> POLÍTICA DE PRIVACIDAD</a>
                <a href="#">CONDICIONES LEGALES</a>
                <a href="#">POLÍTICA DE COOKIES</a>
                <a href="/">INICIO</a>
            </div>
            <div class="social-media">
                <a id="h" href="#"><i class="fab fa-facebook-f"></i> </a>
                <a href="#"><i class="fab fa-instagram"></i> </a>
                <a href="#"><i class="fab fa-twitter"></i> </a>
                <a href="#"><i class="fab fa-youtube"></i> </a>
                <a href="#"><i class="fab fa-spotify"></i> </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>