<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/header.css">
</head>
<body>
<header class="topbar">
    <div id="logo"> <a href="/"><img id="picture" alt="fail" src="/logo.PNG"></a> </div>
    <div id="container-h">
        <nav class="navigation">
            <ul>
                <li><a href="/about">¿QUIÉNES SOMOS?</a></li>
                <li><a href="/events">EVENTOS</a></li>
                <li><a href="/tickets">MIS ENTRADAS</a></li>
                <li><a href="/myuser">MI USUARIO</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>