<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EvenTKS</title>
    <link rel="stylesheet" href="/home.css">
    <script src="/home.js" defer></script>
</head>
<body>
    {{>header}}
    <div class="principal-container">
        <div class="main-pic-c">
            <img id="main-pic" alt="fail" src="/mainpic.jpg">
        </div>
        <div class="main-txt">
            <h1>EVENT TKS</h1>
            <h2>BUENO BONITO BARATO</h2>
            <h2>COJAN SUS ENTRADAS NOS LAS QUITAN DE LAS MANOS</h2>
        </div>
    </div>
    <div class="text-container">
        <div class="home-column">
            <h2 class="column-title">Lorem Ipsum</h2>
            <p class="column-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="home-column">
            <h2 class="column-title">Lorem Ipsum</h2>
            <p class="column-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="home-column">
            <h2 class="column-title">Lorem Ipsum</h2>
            <p class="column-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div id="slideshow-container">
        <img class="slide" alt="fail" src="/IMGhome1.jpg">
        <img class="slide" alt="fail" src="/IMGhome2.jpg">
        <img class="slide" alt="fail" src="/IMGhome3.jpg">
        <img class="slide" alt="fail" src="/IMGhome4.jpg">
        <img class="slide" alt="fail" src="/IMGhome5.jpg">
    </div>
    {{>footer}}
</body>
</html>