<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EvenTKS</title>
    <link rel="stylesheet" href="/header.css">
</head>
<body>
    <header class="topbar">
        <div> <img id="logo" alt="fail" src="/../static/logo.PNG"></div>
        <div id="container">
            <nav class="navigation">
                <ul>
                    <li><a href="/artist">ARTISTAS</a></li>
                    <li><a href="/artist">EVENTOS</a></li>
                    <li><a href="/artist">CONFIRMACIONES</a></li>
                    <li><a href="/artist">MIS ENTRADAS</a></li>
                    <li><a href="/artist">OFERTAS</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>