<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EvenTKS</title>
    <link rel="stylesheet" href="/home.css">
    <script src="/home.js" defer></script>
</head>
<body>
    {{>header}}
    <div class="principal-container">
        <div class="main-pic-c">
            <img id="main-pic" alt="fail" src="/mainpic.jpg">
        </div>
        <div class="main-txt">
            <h1>EVENT TKS</h1>
            <h2>BUENO BONITO BARATO</h2>
            <h2>COJAN SUS ENTRADAS, NOS LAS QUITAN DE LAS MANOS</h2>
        </div>
    </div>
    <div class="text-container">
        <div class="home-column">
            <h2 class="column-title">Bienvenidx</h2>
            <p class="column-txt">Bienvenido a nuestra plataforma de compra-venta de entradas de conciertos, donde puedes encontrar las mejores ofertas para tus eventos musicales favoritos. Explora una amplia gama de conciertos y artistas¡y asegura tu lugar en los eventos más emocionantes del año!</p>
        </div>
        <div class="home-column">
            <h2 class="column-title">¿Por qué elegirnos?</h2>
            <p class="column-txt">Ofrecemos una amplia selección de conciertos de diferentes géneros musicales para satisfacer todos los gustos y preferencias. Además nuestro mercado te permite encontrar entradas a precios competitivos, tanto para eventos populares como para artistas emergentes. Y por supuesto garantizamos la autenticidad de las entradas y protegemos tus transacciones para que puedas comprar con total confianza.</p>
        </div>
        <div class="home-column">
            <h2 class="column-title">¿Como funciona?</h2>
            <p class="column-txt">Navega por nuestra lista de conciertos y descubre los próximos eventos y artistas que te interesan. Puedes seleccionar las entradas que deseas comprar y elige la cantidad según tus necesidades.</p>
        </div>
    </div>
    <div id="slideshow-container">
        <img class="slide" alt="fail" src="/IMGhome1.jpg">
        <img class="slide" alt="fail" src="/IMGhome2.jpg">
        <img class="slide" alt="fail" src="/IMGhome3.jpg">
        <img class="slide" alt="fail" src="/IMGhome4.jpg">
        <img class="slide" alt="fail" src="/IMGhome5.jpg">
    </div>
    {{>footer}}
</body>
</html>