<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
{{>header}}
<div id="form-container">
    <form action="/login" method="post">
        <label>Usuario:</label><br><input type="text" name="username" /><br/>
        <label>Contraseña:</label><br><input type="password" name="password" /><br/>
        <input id="button-si" type="submit" value="Iniciar Sesión"/>
        <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
</div>
<div id="register">
    <h2>Si no tienes cuenta créala aquí</h2>
    <a href="/signup" methods="GET" >Crear cuenta</a>
</div>
{{>footer}}
</body>
</html>