<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/createEvent.css">
</head>
<body>
<h1 id="title">Modifica el evento</h1>
<form action="/events/{{id}}/edit" method="post" enctype="multipart/form-data">

    <div id="main-txt">
    <p>Nombre: </p>
    <input type="text"  name="name" value="{{event.name}}"><br>

    <p>Descripcion: </p>
    <textarea name="description">{{event.description}}</textarea><br>
    <p>artistas</p>
    <input type="text" name="artists" value="{{event.artists}}"><br>

    <p>Precio por entrada: </p>
    <input type="number" name="price" step="0.1" value="{{event.price}}"><br>

    <p>Ticktes disponibles: </p>
    <input type="number" name="ticketsAvailable" value="{{event.ticketsAvailable}}"><br>
    <input type='file' name='imageField' accept=".jpg, .jpeg" value="{{event.image}}"/>
    <input type="hidden" name="numEvent" value="{{id}}"><input type="hidden" name="_csrf" value="{{token}}"/>
    <input type="submit" value="Modificar"/>
    </div>
</form>

</body>
</html>