<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis eventos</title>
    <link rel="stylesheet" href="/css/myEvents.css">
</head>
<body>
{{>header}}
<!--
{{^user}}
<p>Debes iniciar sesión para ver tus eventos</p>
{{/user}}-->
{{#user}}
<h1 id="events-title">TUS EVENTOS</h1>
<div class="myEvents">
    {{#user.myEvents}}
    <div class="container">
        <a id="border" href="/events/{{id}}">
            <div class="event">
                <h4>{{this.name}}</h4>
                <img alt="no image" src="/{{id}}/image">
            </div>
        </a>
    </div>
    {{/user.myEvents}}
</div>
{{^user.myEvents}}
<p id="no-events">Todavía no has agregado ningún evento</p>
{{/user.myEvents}}
{{/user}}
{{>footer}}
</body>
</html>