<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/myUser.css">
    <script src="/myuser.js"></script>
</head>
<body>
{{>header}}
<br>
<div id="myuser-cont">
    <p id="user">{{username}}</p>
    <button class="link-button" onclick="location.href='/tickets'">Mis entradas</button><br>
    <button class="link-button" id="mostrarFormulario">Editar Informacion</button><br>
    <div id="formulario">
        <form action="/private/myuser/edit" method="POST">
            <h3>Introduzca su nuevo nombre de usuario y su nueva contraseña</h3>
            <input type="text" name="newUser" placeholder="{{username}}">
            <input type="password" name="password" placeholder="">
            <button id="userButton" type="submit">Editar</button>
        </form>
    </div>
    <button class="link-button" onclick="location.href='/private/myuser/delete'">Borrar Usuario</button><br>
</div>

{{>footer}}
</body>

</html>
